{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col card md-4">
            <div class="card-body first-card">
                <a>
                    <h2 class="card-title"><strong>Chocolate Bundle</strong></h2>
                    <p class="card-text">A link with some information about the chocolate and coffee bundle with key words</p>
                </a>    
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 bg-warning">Shop Now</a>
                    </h4>
                </div>                
            </div>
        </div>
        <div class="col card md-4">
            <div class="card-body second-card">
                <a>
                    <h2 class="card-title"><strong>Cookie Bundle</strong></h2>
                    <p class="card-text">A link with some information about the cookie and coffee bundle with key words</p>
                </a>    
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 bg-warning">Shop Now</a>
                    </h4>
                </div>                
            </div>
        </div>
        <div class="col card md-4">
            <div class="card-body third-card">
                <a>
                    <h2 class="card-title"><strong>Coffee Cup Bundle</strong></h2>
                    <p class="card-text">A link with some information about the coffee cup and coffee bundle with key words</p>
                </a>    
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 bg-warning">Shop Now</a>
                    </h4>
                </div>                
            </div>
        </div>
    </div>
{% endblock %}