html {
    height: 100%;
}

body {
    background-color: #f4f4f4;
    background: url('https://res.cloudinary.com/miswaq/image/upload/v1700998773/Kaffa%20Coffee/coffee_roast_jrkhrz.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 160px;
    height: calc(100vh - 120px);
    color: #5a2611;
    font-family: 'Playfair Display', serif;
}

h1, h2, h3 {
    font-family: 'Lato' sans-serif;
}

/* coloring */

.header-container, .navbar, #topnav {
    background-color: #5a2611;
    color: #fff;
}

.nav_link {
    color: #d2b48c;
}

.nav_link:hover {
    color: #fff;
}

.btn, .shop-now-button, .btn-outline-sucess {
    background-color: #556b2f;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn:hover, .shop-now-button:hover, .btn-outline-sucess:hover {
    background-color: #6b8f5e;
}

footer {
    background-color: #5a2611;
    color: #fff;
}

/* Products */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* placing */

.my-auto {
    margin: auto;
}

.text-center {
    text-align: center;
}

/* Sign in and Sign out css */

.login-content {
    font-size: 1.0rem;
    margin-left: 20px;
    font-family: 'Lato' sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: calc(100vh - 120px);
}

.form-control {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-login {
    width: 100%;
    max-width: 360px;
}

.socialaccount_providers {
    list-style: none;
    padding: 0;
}

.socialaccount_providers li {
    margin-bottom: 10px;
}

.logout-content {
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-family: 'Lato' sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px);
}

.btn.themed-btn {
    background-color: #556b2f;
    color: #fff;
    padding: 12px 24px;
    font-size: 1.1rem;
    border-radius: 4px;
    font-family: 'Lato' sans-serif;
    transition: background-color 0.3s;
}

.btn.themed-btn:hover {
    background-color: #6b8f5e;
}
