<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}?category=large" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Big Package
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bigpackage-link">
                <a href="/products/3/" class="dropdown-item">Light Roast</a>
                <a href="/products/2/" class="dropdown-item">Medium Roast</a>
                <a href="/products/1/" class="dropdown-item">Dark Roast</a>
                <a href="{% url 'products' %}?category=large" class="dropdown-item">Big Package</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}?category=medium" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Medium Package
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mediumpackage-link">
                <a href="/products/7/" class="dropdown-item">Dark Ethiopian</a>
                <a href="/products/5/" class="dropdown-item">Dark Arabic</a>
                <a href="/products/6/" class="dropdown-item">Dark Bolivian</a>
                <a href="/products/4/" class="dropdown-item">Dark Chocolate</a>
                <a href="{% url 'products' %}?category=medium" class="dropdown-item">Medium Package</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="{% url 'products' %}?category=new" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Arrivals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="new-link">
                <a href="/products/9/" class="dropdown-item">Extra taste</a>
                <a href="/products/8/" class="dropdown-item">Extra Ethiopian</a>
                <a href="{% url 'products' %}?category=new" class="dropdown-item">New Arrivals</a>
            </div>
        </li>
    </ul>
</div>